<!DOCTYPE html>
<html>
<head>
  <title>DriverCareer</title>
  <!-- 
  tubolinksは取りあえず外しておく。20160107
  <%# stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<!--　以下追加 -->
  <%# stylesheet_link_tag  "1import.css" %>
  <%# stylesheet_link_tag  "1bootstrap-switch.css" %>







  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>
  <div id="wrap" class="index temp_01">
 <%= render 'layouts/header' %>
 
<div id="contents">
<%= yield %>
</div>

 <%= render 'layouts/footer' %>
 </div>
</body>
</html>
